<section class="contacts" id="contacts">
  <div class="container">
    <div class="contacts-wrapper">
      <h2
        class="contacts-title"
        data-aos="fade-down"
        data-aos-duration="1000"
        data-aos-offset="400"
      >
        Ready to Grow
        <br />
        Your Dream Garden?
      </h2>
      <div
        data-aos="fade-up"
        data-aos-duration="900"
        data-aos-delay="150"
        data-aos-offset="150"
      >
        <p class="contacts-mail-title">Email:</p>
        <a class="contacts-mail" href="mailto:info@foreststream.online">
          info@foreststream.online
        </a>
      </div>
      <div
        class="btn-wrap"
        data-aos="zoom-in"
        data-aos-duration="700"
        data-aos-delay="400"
        data-aos-offset="150"
      >
        <a
          class="btn mobile-btn-market"
          href="https://play.google.com/store/apps/details?id=com.yfactorysoft.GardenMatch.gp&hl=en&gl=us"
          target="_blank"
        >
          <svg width="25" height="25">
            <use href="./img/sprite.svg#icon-google-play"></use>
          </svg>
          Play on Google Play
        </a>
        <a
          class="btn desc-btn-market"
          href="https://play.google.com/store/apps/details?id=com.yfactorysoft.GardenMatch.gp&hl=en&gl=us"
          target="_blank"
        >
          <svg width="48" height="48">
            <use href="./img/sprite.svg#icon-google-play"></use>
          </svg>
          Play on Google Play
        </a>
      </div>
    </div>
  </div>
</section>
