<section class="faq container" id="faq">
  <div class="">
    <h2 class="faq-title" data-aos="fade-up" data-aos-offset="150">
      Quick answers
    </h2>
    <ul class="faq-cards">
      <li
        class="faq-card-wrap"
        data-aos="fade-up"
        data-aos-delay="0"
        data-aos-offset="150"
      >
        <div class="faq-card">
          <svg width="31" height="31" class="faq-icon">
            <use href="/img/sprite.svg#icon-icon_faq"></use>
          </svg>
          <h3 class="faq-question">Do I need puzzle experience to start?</h3>
          <p class="faq-answer">
            No, the game is easy to learn for all players.
          </p>
        </div>
      </li>
      <li
        class="faq-card-wrap"
        data-aos="fade-up"
        data-aos-delay="100"
        data-aos-offset="150"
      >
        <div class="faq-card">
          <svg width="31" height="31" class="faq-icon">
            <use href="/img/sprite.svg#icon-icon_faq"></use>
          </svg>
          <h3 class="faq-question">Can I customize my garden freely?</h3>
          <p class="faq-answer">
            Yes, thousands of decor options are available.
          </p>
        </div>
      </li>
      <li
        class="faq-card-wrap"
        data-aos="fade-up"
        data-aos-delay="200"
        data-aos-offset="150"
      >
        <div class="faq-card">
          <svg width="31" height="31" class="faq-icon">
            <use href="/img/sprite.svg#icon-icon_faq"></use>
          </svg>
          <h3 class="faq-question">Is ReGarden Match free to play?</h3>
          <p class="faq-answer">
            Yes, with optional in-game purchases avaliable.
          </p>
        </div>
      </li>
      <li
        class="faq-card-wrap"
        data-aos="fade-up"
        data-aos-delay="300"
        data-aos-offset="150"
      >
        <div class="faq-card">
          <svg width="31" height="31" class="faq-icon">
            <use href="/img/sprite.svg#icon-icon_faq"></use>
          </svg>
          <h3 class="faq-question">Are new levels added regularly?</h3>
          <p class="faq-answer">
            Yes, fresh content and areas are released often.
          </p>
        </div>
      </li>
      <li
        class="faq-card-wrap"
        data-aos="fade-up"
        data-aos-delay="400"
        data-aos-offset="150"
      >
        <div class="faq-card">
          <svg width="31" height="31" class="faq-icon">
            <use href="/img/sprite.svg#icon-icon_faq"></use>
          </svg>
          <h3 class="faq-question">Is the game suitable for casual play?</h3>
          <p class="faq-answer">
            Yes, levels are designed for short, relaxing sessions.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
