<section class="hero">
  <div class="container">
    <div class="hero-wrapper">
      <h1 class="hero-title">
        <span class="hero-title-brown">Match Petals.</span>
        <span class="hero-title-green">Grow Paradise.</span>
      </h1>
      <p class="hero-text">
        Solve puzzles, restore gardens, design your dream escape.
      </p>
      <a class="btn mobile-btn-market" href="" target="_blank">
        <svg width="20" height="20">
          <use href="./img/sprite.svg#icon-google-play"></use>
        </svg>
        Play on Google Play
      </a>
      <a class="btn desc-btn-market" href="" target="_blank">
        <svg width="48" height="48">
          <use href="./img/sprite.svg#icon-google-play"></use>
        </svg>
        Play on Google Play
      </a>
    </div>
  </div>
</section>
