<section class="reviews" id="reviews">
  <div class="container container-rev ">
    <h2 class="reviews-title">What players are saying</h2>
    <ul class="reviews-cards" data-show-reviews>
      <li class="reviews-card">
        <div class="reviews-card-top-section">

          <img src="/img/reviews/rew_1.png" alt="avatar_1" class="avatar_reviews">

          <div class="reviews-card-right-section">
            <p class="reviews-username">Anna Ivanovna</p>
            <div class="review-icon"><svg width="120" height="24">
                <use href="/img/sprite.svg#icon-icon-stars"></use>
              </svg></div>
          </div>
        </div>
        <p class="reviews-text">"Love how every match actually changes my garden."</p>
      </li>
      <li class="reviews-card">
        <div class="reviews-card-top-section">
          <img src="/img/reviews/rew_2.png" alt="avatar_2" class="avatar_reviews">

          <div class="reviews-card-right-section">
            <p class="reviews-username">Anna Ivanovna</p>
            <div class="review-icon"><svg width="120" height="24">
                <use href="/img/sprite.svg#icon-icon-stars"></use>
              </svg></div>
          </div>
        </div>
        <p class="reviews-text">"So relaxing, and the decorating options are amazing"</p>
      </li>
      <li class="reviews-card">
        <div class="reviews-card-top-section">
          <img src="/img/reviews/rew_3.png" alt="avatar_3" class="avatar_reviews">

          <div class="reviews-card-right-section">
            <p class="reviews-username">Anna Ivanovna</p>
            <div class="review-icon"><svg width="120" height="24">
                <use href="/img/sprite.svg#icon-icon-stars"></use>
              </svg></div>
          </div>
        </div>
        <p class="reviews-text">"Perfect mix of match-3 and design - I`m hooked."</p>
      </li>
      <li class="reviews-card">
        <div class="reviews-card-top-section">
          <img src="/img/reviews/rew_4.png" alt="avatar_4" class="avatar_reviews">

          <div class="reviews-card-right-section">
            <p class="reviews-username">Anna Ivanovna</p>
            <div class="review-icon"><svg width="120" height="24">
                <use href="/img/sprite.svg#icon-icon-stars"></use>
              </svg></div>
          </div>
        </div>
        <p class="reviews-text">"Really satisfying to see the garden transform."</p>
      </li>
      <li class="reviews-card">
        <div class="reviews-card-top-section">
          <img src="/img/reviews/rew_5.png" alt="avatar_5" class="avatar_reviews">

          <div class="reviews-card-right-section">
            <p class="reviews-username">Anna Ivanovna</p>
            <div class="review-icon"><svg width="120" height="24">
                <use href="/img/sprite.svg#icon-icon-stars"></use>
              </svg></div>
          </div>
        </div>
        <p class="reviews-text">"Beautiful graphics and endless customization."</p>
      </li>
    </ul>
  </div>
</section>