<section class="reviews container" id="reviews">
  <div class="container-rev">
    <h2 class="reviews-title" data-aos="fade-down" data-aos-offset="300">
      What players are saying
    </h2>
    <div data-aos="zoom-in" data-aos-offset="300" data-aos-delay="200">
      <ul class="reviews-cards" data-show-reviews>
        <li class="reviews-card">
          <div class="reviews-card-top-section">
            <img
              src="/img/reviews/rew_1.png"
              alt="avatar_1"
              class="avatar_reviews"
            />

            <div class="reviews-card-right-section">
              <p class="reviews-username">Emily W.</p>
              <div class="review-icon">
                <svg width="120" height="24">
                  <use href="/img/sprite.svg#icon-icon-stars"></use>
                </svg>
              </div>
            </div>
          </div>
          <p class="reviews-text">
            "Love how every match actually changes my garden."
          </p>
        </li>
        <li class="reviews-card">
          <div class="reviews-card-top-section">
            <img
              src="/img/reviews/rew_2.png"
              alt="avatar_2"
              class="avatar_reviews"
            />

            <div class="reviews-card-right-section">
              <p class="reviews-username">Hannah B.</p>
              <div class="review-icon">
                <svg width="120" height="24">
                  <use href="/img/sprite.svg#icon-icon-stars"></use>
                </svg>
              </div>
            </div>
          </div>
          <p class="reviews-text">
            "So relaxing, and the decorating options are amazing"
          </p>
        </li>
        <li class="reviews-card">
          <div class="reviews-card-top-section">
            <img
              src="/img/reviews/rew_3.png"
              alt="avatar_3"
              class="avatar_reviews"
            />

            <div class="reviews-card-right-section">
              <p class="reviews-username">Michael R.</p>
              <div class="review-icon">
                <svg width="120" height="24">
                  <use href="/img/sprite.svg#icon-icon-stars"></use>
                </svg>
              </div>
            </div>
          </div>
          <p class="reviews-text">
            "Perfect mix of match-3 and design - I`m hooked."
          </p>
        </li>
        <li class="reviews-card">
          <div class="reviews-card-top-section">
            <img
              src="/img/reviews/rew_4.png"
              alt="avatar_4"
              class="avatar_reviews"
            />

            <div class="reviews-card-right-section">
              <p class="reviews-username">James H.</p>
              <div class="review-icon">
                <svg width="120" height="24">
                  <use href="/img/sprite.svg#icon-icon-stars"></use>
                </svg>
              </div>
            </div>
          </div>
          <p class="reviews-text">
            "Really satisfying to see the garden transform."
          </p>
        </li>
        <li class="reviews-card">
          <div class="reviews-card-top-section">
            <img
              src="/img/reviews/rew_5.png"
              alt="avatar_5"
              class="avatar_reviews"
            />

            <div class="reviews-card-right-section">
              <p class="reviews-username">Daniel K.</p>
              <div class="review-icon">
                <svg width="120" height="24">
                  <use href="/img/sprite.svg#icon-icon-stars"></use>
                </svg>
              </div>
            </div>
          </div>
          <p class="reviews-text">
            "Beautiful graphics and endless customization."
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
