html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
  overflow-x: hidden;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  line-height: 1.43;
  letter-spacing: 0.02em;
  color: #32302b;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: #fdf2df;
  overflow-x: hidden;
}

body[data-scroll='locked'] {
  overflow: hidden;
}

main {
  flex-grow: 1;
}

main:has(.back-link) {
  text-align: center;
}

.btn {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: 400;
  color: #f5f5f5;
  box-shadow:
    0 5px 15px 0 rgba(35, 68, 30, 0.25),
    inset 0 1px 3px 0 rgba(255, 255, 255, 0.1),
    inset 0 -2px 6px 0 rgba(0, 0, 0, 0.08);
  background:
    linear-gradient(180deg, #4b933b 14.9%, #3e7e2a 45.67%, #24551a 91.35%),
    linear-gradient(
      360deg,
      rgba(0, 0, 0, 0.2) 83.33%,
      rgba(245, 245, 245, 0.2) 95%
    );
  border: 1px solid rgba(122, 184, 93, 0.45);
  border-radius: 20px;
  padding: 13px 15px;
}

.mobile-btn-market {
  font-size: 16px;
  padding: 10px 20px;
}

.title-green {
  background: radial-gradient(
    circle at center,
    #071f03 0%,
    #1e6111 53%,
    #0f3a07 87%
  );

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

@media only screen and (min-width: 1440px) {
  .btn {
    transition: transform 0.3s ease;
  }

  .btn:hover {
    transform: scale(1.05);
  }
}
