html {
  scroll-behavior: smooth;
  scroll-padding-top: 47px;
}

@media only screen and (min-width: 1440px) {
  html {
    scroll-padding-top: 139px;
  }
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.02em;
  color: #32302b;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}
