.hero {
  position: relative;
  background-image: url('../img/hero/hero-bg-mob.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 163px;
  padding-bottom: 236px;
  margin: 80px auto 0;
  max-width: 430px;
}

@media screen and (min-width: 320px) and (min-resolution: 192dpi) {
  .hero {
    background-image: url('../img/hero/hero-bg-mob@2x.jpg');
    background-size: cover;
    max-width: 430px;
  }
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.hero-title {
  font-family: 'DM Serif Display', sans-serif;
  max-width: 270px;
  font-weight: 400;
  font-size: 36px;
  text-align: center;
}

.hero-title-brown {
  background: radial-gradient(circle at center, #321c06 0%, #814309 100%);

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.hero-text {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #20201f;
  width: 320px;
}

.desc-btn-market {
  display: none;
}

@media screen and (min-width: 1440px) {
  .hero {
    position: relative;
    background-image: url('../img/hero/hero-bg-desc.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 273px;
    padding-bottom: 212px;
    margin: 0 auto;
    max-width: 1440px;
  }

  .hero-wrapper {
    gap: 19px;
  }

  .hero-title {
    max-width: 470px;
    font-size: 64px;
    line-height: 1.2;
    text-align: center;
  }

  .hero-text {
    font-size: 20px;
    line-height: 1.35;
    color: #6c6658;
    width: 310px;
  }

  .mobile-btn-market {
    display: none;
  }

  .desc-btn-market {
    display: flex;
    padding: 15px 35px;
  }
}

@media screen and (min-width: 1440px) and (min-resolution: 192dpi) {
  .hero {
    background-image: url('../img/hero/hero-bg-desc@2x.jpg');
    background-size: cover;
    max-width: 1440px;
  }
}
