.legal-header {
  position: fixed;
  top: 0;
  z-index: 800;
  width: 100%;
  background: #fafafa;
  padding-top: 5px;
  padding-bottom: 5px;
}

.legal-header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-btn-legal {
  padding: 10px;
  font-size: 14px;
}

.desc-btn-legal {
  display: none;
}

@media only screen and (min-width: 1440px) {
  .mobile-btn-legal {
    display: none;
  }

  .desc-btn-legal {
    display: inline-flex;
  }
}
